[gcode_macro global_var]
variable_pause_park:{'x': 10, 'y': 290, 'z': 10, 'e': 1}
variable_z_maximum_lifting_distance: 350
variable_pause_resume_travel_speed: 100
variable_bed_mesh_calibrate_target_temp: 65
variable_load_filament_extruder_temp: 220
gcode:


[gcode_macro _ALL_FAN_OFF]
gcode:
    M106 S0
    M107


[gcode_macro PROBE_CALIBRATE]
rename_existing:PROBE_CALIBRATE_BASE
gcode:
    {% set current_target_temp  = printer.heater_bed.target|int %}
    {% set z_offset_calibrate_temp = printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp|int %}
    {% set max_z_offset_calibrate_temp = (printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp|int + 1) %}

    {action_respond_info("z_offset_calibrate")}
    {% if printer.heater_bed.temperature != z_offset_calibrate_temp %}
        M140 S{z_offset_calibrate_temp}
        {action_respond_info("The bed target temperature was not reached!")}
        {action_respond_info("Adjust the temperature now!")}
        M190 S{z_offset_calibrate_temp}
    {% endif %}

    G28
    PROBE_CALIBRATE_BASE
    TESTZ z=-4

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BED_MESH_CALIBRATE_BASE
gcode:
    {% set mesh_name = "default" %}
    {% set mesh_calibrate_temp = printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp|int %}
    {% set max_mesh_calibrate_temp = (printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp|int + 1) %}
    {% set current_target_temp  = printer.heater_bed.target|int %}
    {% set adaptive = params.ADAPTIVE|default(1)|int %}

    {action_respond_info("Check Heating!")}
    {% if printer.heater_bed.temperature != mesh_calibrate_temp %}
        M140 S{mesh_calibrate_temp}
        {action_respond_info("The bed target temperature was not reached!")}
        {action_respond_info("Adjust the temperature!")}
        M190 S{mesh_calibrate_temp}
    {% endif %}

    {% if printer.toolhead.homed_axes|lower != "xyz" %}
        G28
    {% endif %}

    BED_MESH_CLEAR
    BED_MESH_CALIBRATE_BASE ADAPTIVE={adaptive}

    {% if current_target_temp == 0 %}
        M140 S0
    {% endif %}


[delayed_gcode _print_start_wait]
gcode:
    {% if printer['gcode_macro START_PRINT'].state == 'Heating'%}
        {action_respond_info("Prepare->Heating!")}
    {% elif printer['gcode_macro START_PRINT'].state == 'Start' %}
        {action_respond_info("Heating->Start!")}
    {% endif %}

    {% if printer['gcode_macro START_PRINT'].execute|lower != 'false' %}
        START_PRINT
    {% endif %}

[gcode_macro START_PRINT]
description:
variable_state: 'Prepare'
variable_record_extruder_temp:0
variable_max_record_extruder_temp:0
gcode:
    {% set mesh_name = "default" %}
    {% set mesh_calibrate_temp = printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp|int %}

    {% set extruder_target_temp = printer.extruder.target|int %}
    {% set max_extruder_target_temp = (extruder_target_temp + 2) %}

    {% set bed_targer_temp = printer.heater_bed.target if printer.heater_bed.target else 65|int %}
    {% set max_bed_targer_temp = (bed_targer_temp + 2) %}

    M400

    CLEAR_PAUSE

    # SAVE_VARIABLE VARIABLE=was_interrupted VALUE=True
    save_last_file

    G90
    {% if state == 'Prepare' %}

        {action_respond_info("Prepare!")}

        {% if printer.toolhead.homed_axes|lower != "xyz" %}
            G28
        {% endif %}

        {% if printer['filament_switch_sensor my_sensor'].enable == True and
              printer['filament_switch_sensor my_sensor'].filament_detected != True
        %}
            M117 No filament!!!
            {action_respond_info("Please Insert filament in Sensor!")}
            CANCEL_PRINT
        {% endif %}

        {action_respond_info("Check Heating!")}

        M140 S{bed_targer_temp}
        M104 S{extruder_target_temp}

        {% if printer.heater_bed.temperature < bed_targer_temp %}
            M117 Bed heating...
            {action_respond_info("Bed heating...")}
            M190 S{bed_targer_temp}
        {% endif %}

        {% if printer.extruder.temperature < extruder_target_temp %}
            M117 Extruder heating...
            {action_respond_info("Extruder heating...")}
            M109 S{extruder_target_temp}
        {% endif %}

        BED_MESH_CALIBRATE ADAPTIVE=1

        SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=state VALUE='"Start"'
        UPDATE_DELAYED_GCODE ID=_print_start_wait DURATION=0.5

    {% elif state == 'Start' %}
        M117 Printing now!!!
        {action_respond_info("Start!")}
    {% endif %}

    {% if state == 'Start' %}
        {action_respond_info("Start!")}
    {% endif %}



[gcode_macro END_PRINT]
description:
variable_state: 'normal'
gcode:
    {% set z_max = printer['gcode_macro global_var'].z_maximum_lifting_distance|int %}
    {% set e_mintemp  = printer.configfile.settings['extruder'].min_extrude_temp %}

    M400
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=state VALUE='"Prepare"'
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=record_extruder_temp VALUE=0
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=max_record_extruder_temp VALUE=0

    G91
    {% if printer['filament_switch_sensor my_sensor'].enable == True and
          printer['filament_switch_sensor my_sensor'].filament_detected == True
    %}
        {% if (printer.extruder.target != 0 and printer.extruder.temperature >= printer.extruder.target) or
              printer.extruder.temperature >= e_mintemp
        %}
            G1 E-2 F2700
            G1 E-2 Z0.2 F2400
        {% endif %}
    {% endif %}

    {% if (printer.gcode_move.position.z + 10) < z_max %}
        G1 Z+10 F3000
    {% else %}
        G1 Z+{(z_max - printer.gcode_move.position.z)} F3000
    {% endif %}
    G90
    G1 X0 Y300

    _ALL_FAN_OFF
    TURN_OFF_HEATERS

    M84 X Y Z E

    M220 S100
    M221 S100

    CLEAR_PAUSE

    # SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file

    {action_respond_info("Finish Print!")}


[gcode_macro PAUSE]
rename_existing: PAUSE_BASE
variable_state: 'normal'
gcode:
    {% set x_park = printer['gcode_macro global_var'].pause_park.x|float %}
    {% set y_park = printer['gcode_macro global_var'].pause_park.y|float %}
    {% set e_restract = printer['gcode_macro global_var'].pause_park.e|float %}
    {% set z_lift_max = printer['gcode_macro global_var'].z_maximum_lifting_distance %}
    {% set state = params.STATE if 'filament_change' in params.STATE else 'normal' %}
    {% set extruder_temp = printer['gcode_macro global_var'].load_filament_extruder_temp|int %}

    {action_respond_info("Pause Print!")}

    PAUSE_BASE
    G91
    {% if (printer.gcode_move.position.z + 5) < z_lift_max %}
        G1 Z+5 F3000
    {% else %}
        G1 Z+{(z_lift_max - printer.gcode_move.position.z)} F3000
    {% endif %}
    G90
    {% if printer.gcode_move.position.x != x_park and
            printer.gcode_move.position.y != y_park
    %}
        G1 X{x_park} Y{y_park} F{printer["gcode_macro global_var"].pause_resume_travel_speed * 60}
    {% endif %}

    M104 S{printer.extruder.target}

    {% if state == 'normal' %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            G91
            G1 E-{e_restract} F300
            G90
        {% endif %}
    {% elif state == 'filament_change' %}
        {% if printer.extruder.temperature < printer.extruder.target %}
            G91
            G1 E-30 F300
            G90
        {% endif %}
    {% endif %}


[delayed_gcode _resume_wait]
gcode:
    {% if printer['gcode_macro RESUME'].execute|lower != 'false' %}
        RESUME
    {% endif %}


[gcode_macro RESUME]
description: Pause the actual running print
rename_existing: RESUME_BASE
variable_state: 'normal'
gcode:
    {% set e_restract = printer['gcode_macro global_var'].pause_park.e|float %}
    {% set extruder_temp = printer['gcode_macro global_var'].load_filament_extruder_temp|int %}

    {% set extruder_target_temp = printer.extruder.target|int %}
    {% set max_extruder_target_temp = (extruder_target_temp + 2) %}


    {% if params.STATE == 'filament_change' %}
        {% if printer["filament_switch_sensor my_sensor"].enable != True and
              printer["filament_switch_sensor my_sensor"].filament_detected != True
        %}
            {action_respond_info("Please Insert filament in Sensor!")}
        {% else %}
            {% if printer.extruder.temperature < printer.extruder.target %}
                {action_respond_info("Extruder not hot enough!")}
                {action_respond_info("Heating now!")}
                M109 S{extruder_target_temp}
                G91
                G1 E30 F300
                G1 E10 F150
                G90
            {% else %}
                G91
                G1 E30 F300
                G1 E10 F150
                G90
            {% endif %}

            {action_respond_info("Print resumming!")}
            RESUME_BASE
        {% endif %}
    {% elif state == 'normal' %}
        {% if printer['filament_switch_sensor my_sensor'].enable != True and
              printer['filament_switch_sensor my_sensor'].filament_detected != True
        %}
            {action_respond_info("Please Insert filament in Sensor!")}
        {% else %}
            {action_respond_info("Print resumming!")}
            G91
            G1 E{e_restract} F300
            G90
            RESUME_BASE
        {% endif %}
    {% endif %}


[gcode_macro CANCEL_PRINT]
description:
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set x_park = printer['gcode_macro global_var'].pause_park.x|float %}
    {% set y_park = printer['gcode_macro global_var'].pause_park.y|float %}
    {% set z_park = printer['gcode_macro global_var'].pause_park.z|float %}
    {% set z_lift_max = printer['gcode_macro global_var'].z_maximum_lifting_distance %}
    {% set e_restract = printer['gcode_macro global_var'].pause_park.e|float %}
    {% set e_mintemp  = printer.configfile.settings['extruder'].min_extrude_temp %}

    CANCEL_PRINT_BASE

    G91
    {% if printer['filament_switch_sensor my_sensor'].enabled == True and
          printer['filament_switch_sensor my_sensor'].filament_detected == True
    %}
        {% if (printer.extruder.target != 0 and printer.extruder.temperature >= printer.extruder.target) or
              printer.extruder.temperature >= e_mintemp
        %}
            G1 E-{e_restract} F500
        {% else %}
            {action_respond_info("Extruder not hot enough")}
        {% endif %}
    {% endif %}

    {% if printer.pause_resume.is_paused == True %}
        {% if printer.gcode_move.position.x != x_park and
              printer.gcode_move.position.y != y_park
        %}
            {%if (printer.gcode_move.position.z + 10) < z_lift_max %}
                G1 Z+10 F3000
            {% else %}
                G1 Z+{(z_lift_max - printer.gcode_move.position.z)} F3000
            {% endif %}
            G90
            G1 X{x_park} Y{y_park} F6000
        {% endif %}
    {% else %}
        {% if "xyz" not in printer.toolhead.homed_axe %}
            {%if (printer.gcode_move.position.z + 10) < z_lift_max %}
                G1 Z+10 F3000
            {% else %}
                G1 Z+{(z_lift_max - printer.gcode_move.position.z)} F3000
            {% endif %}
        {% endif %}
        G90
        G1 X{x_park} Y{y_park} F6000
    {% endif %}

    TURN_OFF_HEATERS
    _ALL_FAN_OFF

    CLEAR_PAUSE

    # SAVE_VARIABLE VARIABLE=was_interrupted VALUE=False
    RUN_SHELL_COMMAND CMD=clear_plr
    clear_last_file

    {action_respond_info("Cancel Print Success!")}
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=state VALUE='"Prepare"'
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=record_extruder_temp VALUE=0
    SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=max_record_extruder_temp VALUE=0

    M84 X Y Z E

[gcode_macro DEFAULT_LOAD_FILAMENT]
gcode:
    G91         #load
    G1 E60 F300
    G90
    G4 P700

[gcode_macro DEFAULT_UNLOAD_FILAMENT]
gcode:
    G91         #load
    G1 E20 F300
    G90
    G91         #unload
    G1 E-20 F900
    G90
    G91         #unload
    G1 E-40 F180
    G90
    G4 P700

[gcode_macro PRINTING_UNLOAD_FILAMENT]
gcode:
    G91         #load
    G1 E15 F300
    G90
    G91         #unload
    G1 E-50 F600
    G90
    G4 P700

[gcode_macro M600]
gcode:
    PAUSE
    PRINTING_UNLOAD_FILAMENT


[gcode_macro PAUSE_UNLOAD_FILAMENT]
description: Pauses the current print.
gcode:
    PAUSE STATE='filament_change'
    M400


[gcode_macro LOAD_FILAMENT_RESUME]
gcode:
    RESUME STATE='filament_change'


[gcode_macro heated_bed]
gcode:
	# {% if printer.heater_bed.temperature <= printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp %}
		M190 S{printer['gcode_macro global_var'].bed_mesh_calibrate_target_temp}
	# {% endif %}


[gcode_macro QUERY_ZOFFSET]
gcode:
	M118 {printer.configfile.settings['probe'].z_offset}


[gcode_macro Z_TILT_CALIBRATION]
gcode:
    {% set z_lift =  printer.configfile.settings['stepper_z'].position_max|int %}

    G28
    G90
    G1 Z{z_lift}
    G28 Z


[gcode_macro plr_temperature_wait]
gcode:
    {% set extruder_target_temp = printer.extruder.target|int %}

    {% set bed_targer_temp = printer.heater_bed.target|int %}

    M190 S{bed_targer_temp}
    M109 S{extruder_target_temp}

[gcode_macro M109]
rename_existing: M99109
gcode:
    {% set s = params.S|float %}
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-1} MAXIMUM={s+1}
    {% endif %}

[gcode_macro M190]

rename_existing: M99190
gcode:
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-1} MAXIMUM={s+1}
    {% endif %}
