# The hardware use USART1 PA10/PA9 connect to RK3328
[include m108_fan_control.cfg]
#[include plr.cfg] # Disabled - requires gcode_shell_command extension

[include timelapse.cfg]

# Happy Hare MMU
#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]

[include Macro.cfg]
[include improved_z_leveling.cfg]

[include MCU_ID.cfg]

[exclude_object]

[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 12000
# max_accel_to_decel deprecated in newer Klipper - replaced by minimum_cruise_ratio
# Old value was 3000 (ratio 0.25). New default is 0.5 (more conservative, smoother)
# Uncomment and adjust if needed: minimum_cruise_ratio: 0.5
max_z_velocity: 12
max_z_accel: 100
square_corner_velocity:3

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[respond]

[idle_timeout]
gcode:
    RESPOND TYPE=echo MSG="No operations in 10min!"
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 600

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
spi_bus: spidev0.0

[verify_heater extruder]
max_error: 60
check_gain_time:20
hysteresis: 5
heating_gain: 2

[verify_heater heater_bed]
max_error: 180
check_gain_time:120
hysteresis: 5
heating_gain: 2

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20  # an example
accel_per_hz:200
min_freq:1
max_freq:100
max_smoothing:1
hz_per_sec:1


#############################################################################################################
#stepper,TMC2209
#############################################################################################################
[stepper_x]
step_pin:PB3
dir_pin:PD2
enable_pin:!PB5
endstop_pin:tmc2209_stepper_x: virtual_endstop
microsteps: 16
rotation_distance: 72
homing_retract_dist: 0
position_endstop: -2
position_min: -2
position_max: 302
homing_speed: 50
step_pulse_duration:0.000002

[tmc2209 stepper_x]
uart_pin:PB4
run_current:1.1
interpolate: True
driver_sgthrs: 72
stealthchop_threshold:0
diag_pin: ^PB6

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 72
endstop_pin: tmc2209_stepper_y: virtual_endstop 
homing_retract_dist: 0
position_endstop: -6
position_min: -6
position_max: 302
homing_speed: 50
step_pulse_duration:0.000002

[tmc2209 stepper_y]
uart_pin:PB9
run_current:1.5
interpolate: True
driver_sgthrs: 82
stealthchop_threshold:0
diag_pin: ^PC2

[stepper_z]
step_pin: PC0
dir_pin: !PC1
enable_pin: !PC14
microsteps: 16
rotation_distance: 4
endstop_pin:probe:z_virtual_endstop
#position_endstop: 0.0
position_max: 370
position_min: -5
homing_speed:10

[tmc2209 stepper_z]
uart_pin: PC13
run_current: 0.75
interpolate: True
stealthchop_threshold: 999999

[extruder]
max_extrude_only_distance: 100.0
step_pin: PA15
dir_pin:  !PA0
enable_pin: !PC11
microsteps: 16
#rotaiton_distance: 3.55 //FROM FACTORY
rotation_distance: 3.586
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA7
sensor_type: Generic 3950
sensor_pin: PA4
#control: pid
pressure_advance:0.02
pressure_advance_smooth_time:0.035
max_extrude_cross_section:500
instantaneous_corner_velocity:10
max_extrude_only_distance: 100.0
max_extrude_only_velocity:2000
max_extrude_only_accel:10000
#pid_Kp: 31.056
#pid_Ki: 5.522
#pid_Kd: 44.099
min_temp: 0
max_temp: 305
min_extrude_temp: 150

[tmc2209 extruder]
uart_pin: PC10
run_current: 1
interpolate: True
stealthchop_threshold: 400

[thermistor my_thermistor]
temperature1:25
resistance1:100000
temperature2:50
resistance2:21585.4
temperature3:100
resistance3:5072.6

[heater_bed]
heater_pin: PB10 
sensor_type: my_thermistor
sensor_pin: PA3
#control: pid
#pid_Kp: 66.565 
#pid_Ki: 1.594
#pid_Kd: 786.575
min_temp: 0
max_temp: 105

[probe]
pin:PC5
x_offset:20
y_offset:-24
speed: 12.0
speed: 5.0
samples: 2
sample_retract_dist: 2.0
lift_speed: 50
samples_result: average
samples_tolerance: 0.0125
samples_tolerance_retries: 2

[filament_switch_sensor my_sensor]
pause_on_runout: True
runout_gcode:
    M600
#     RESPOND TYPE=error MSG="Filament Runout! Please change filament!"
event_delay: 3.0
pause_delay: 0.5
switch_pin:PC4

[safe_z_home]
home_xy_position: 130,165
speed: 80
z_hop: 5                 # Move up 5mm
z_hop_speed: 5

[bed_mesh]
speed:400                
horizontal_move_z:5   
mesh_min:20,0   
mesh_max:295,275
probe_count:9,9 
algorithm: bicubic   
bicubic_tension: 0.2
split_delta_z:0.0125
mesh_pps:3,3
move_check_distance: 3
fade_start: 0
fade_end: 10.0
fade_target:0

[heater_fan hotend_fan]
pin: PC7

[fan]
pin: PC8

[gcode_arcs]

[input_shaper]
# Tested with MPU-6050 accelerometer - 2026-01-10
# X-axis: Toolhead resonance at 196.6 Hz (excellent!)
shaper_type_x: mzv
shaper_freq_x: 196.6
# Y-axis: Bed resonance at 16.0 Hz (plastic bed + build plate)
shaper_type_y: mzv
shaper_freq_y: 16.0

# Previous factory config (WRONG - caused over-smoothing and missed resonances):
#damping_ratio_x: 0.01
#damping_ratio_y: 0.01
#shaper_type_x = 3hump_ei
#shaper_freq_x = 58
#shaper_type_y = 2hump_ei
#shaper_freq_y = 40

# ============================================================================
# CALIBRATION WARNING
# The SAVE_CONFIG block below contains calibration values specific to this
# printer (z_offset, PID values, bed mesh points). They are included as a
# reference only. YOU MUST run your own calibration before printing:
#   1. PROBE_CALIBRATE      - sets your z_offset
#   2. PID_CALIBRATE        - extruder and bed PID tuning
#   3. BED_MESH_CALIBRATE   - generates your bed mesh
# Using these values without calibrating first may damage your printer.
# ============================================================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 2.870
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.177500, -0.068750, 0.022500, 0.088750, 0.115000
#*# 	-0.113125, -0.042500, 0.021875, 0.070625, 0.073750
#*# 	-0.062500, -0.015000, 0.002500, 0.047500, 0.043125
#*# 	-0.061250, -0.051875, 0.000625, 0.014375, 0.012500
#*# 	-0.098750, -0.055625, -0.026250, 0.000625, -0.014375
#*# tension = 0.2
#*# min_x = 63.9243
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 58.1377
#*# x_count = 5
#*# max_y = 236.4977
#*# mesh_x_pps = 3
#*# max_x = 241.8843
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 29.150
#*# pid_ki = 5.252
#*# pid_kd = 40.446
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.738
#*# pid_ki = 0.812
#*# pid_kd = 1026.286
#*#
#*# [bed_mesh adaptive]
#*# version = 1
#*# points =
#*# 	0.078125, 0.076250, 0.058125
#*# 	0.075625, 0.071875, 0.068750
#*# 	0.066250, 0.060625, 0.040000
#*# tension = 0.2
#*# min_x = 114.99
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 3
#*# min_y = 136.79
#*# x_count = 3
#*# max_y = 163.21
#*# mesh_x_pps = 3
#*# max_x = 185.01
